// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';

.venue-details
  position: fixed
  height: 100%
  width: auto
  top: 0
  right: 0
  padding: 0
  background-color: rgba(0, 0, 0, 0.8)
  color: #fff
  max-width: 0
  transition: all 0.4s
  z-index: 1
  display: flex
  &.show
    max-width: 9999px
  .card,
  .content
    padding: 1rem
    margin: auto
    border-radius: 0.5rem
    text-align: center
    .button
      margin: 1rem auto
  .close-button
    position: absolute
    top: 0.5rem
    left: 1rem
    background: transparent

.map
  position: absolute
  right: 0
  top: 0
  width: 100%

.list-item
  cursor: pointer

.search-list
  .input,
  .button
    margin-bottom: 1rem

